In [7]:
import numpy as np
import pandas as pd

1. Читаем из файла:

In [8]:
df = pd.read_csv('flatest.csv', sep=';',  encoding='cp1251', na_values='?')

2. Приводим столбец Цена к числовому типу:

In [9]:
df['Цена,руб'] = df['Цена,руб'].replace(to_replace=r'\s+', value='',regex=True).astype('int64')

3. Удаляем дубликаты квартир:

In [10]:
df = df.sort_values(by='Цена,руб')
df = df.drop_duplicates(subset=['Улица', '№ дома', 'Дом', 'Площадь'], keep = 'first')
df = df.sort_index()

4. Разбиваем столбец Дом на следующие столбцы:

In [11]:
df.insert(6, 'Этаж', '0') #этаж на котором квартира
df.insert(7, 'Количество этажей', '0') #количество этажей в доме
df.insert(8, 'Первый этаж', '0' ) #да = 1, нет = 0
df.insert(9, 'Крайний этаж', '0') #первый или последний = 1,нет = 0
df.insert(10, 'Отношение', '0') #отношение этажа к количеству этажей
df.insert(11, 'Тип дома', '0') #тип дома Б - блочный П - панельный М - монолит М-К - монолит-кирпич К - кирпич

In [13]:
#Получаем первую часть до разделителя / - это этаж
df['Этаж'] = df['Дом'].str.split('/').str.get(0).replace('\\?', np.nan, regex=True)
df['Дом']

0      1/5 Б
1      1/9 Б
2      9/9 П
3      8/9 П
5      7/9 П
6      3/5 К
7      8/9 Б
9      3/5 П
10     1/5 К
11    1/17 П
12     1/9 Б
14     1/9 П
15    2/12 ?
16     5/5 П
17     3/5 П
18     5/5 ?
19     1/9 П
21     2/5 Б
22     2/5 К
23     5/5 П
24    1/12 Б
25     7/9 Б
27     1/5 Б
28     5/5 К
31     4/5 П
Name: Дом, dtype: object

In [15]:
#Получаем 
df['Количество этажей'] = df['Дом'].str.split('/').str.get(1)
df['Количество этажей']

0      5 Б
1      9 Б
2      9 П
3      9 П
5      9 П
6      5 К
7      9 Б
9      5 П
10     5 К
11    17 П
12     9 Б
14     9 П
15    12 ?
16     5 П
17     5 П
18     5 ?
19     9 П
21     5 Б
22     5 К
23     5 П
24    12 Б
25     9 Б
27     5 Б
28     5 К
31     5 П
Name: Этажность, dtype: object

In [21]:
#Получаем вторую часть после разделителя /, затем получаем первую часть после разделителя ' ' - это количество этажей в доме
df['Количество этажей'] = df['Дом'].str.split('/').str.get(1).str.split(' ').str.get(0).replace('\\?', np.nan, regex=True).astype('int')
df['Количество этажей']

0      5
1      9
2      9
3      9
5      9
6      5
7      9
9      5
10     5
11    17
12     9
14     9
15    12
16     5
17     5
18     5
19     9
21     5
22     5
23     5
24    12
25     9
27     5
28     5
31     5
Name: Количество этажей, dtype: int32

In [19]:
df['Первый этаж'] =  ~df['Дом'].str.split('/').str.get(0).replace('\\?', np.nan, regex=True).astype('float').replace(1, 0).astype('bool')
df['Первый этаж']

0      True
1      True
2     False
3     False
5     False
6     False
7     False
9     False
10     True
11     True
12     True
14     True
15    False
16    False
17    False
18    False
19     True
21    False
22    False
23    False
24     True
25    False
27     True
28    False
31    False
Name: Первый этаж, dtype: bool

In [20]:
df['Крайний этаж'] =  df['Дом'].str.split('/').str.get(0).replace('\\?', np.nan, regex=True).astype('int')
df['Крайний этаж']

0     1
1     1
2     9
3     8
5     7
6     3
7     8
9     3
10    1
11    1
12    1
14    1
15    2
16    5
17    3
18    5
19    1
21    2
22    2
23    5
24    1
25    7
27    1
28    5
31    4
Name: Крайний этаж, dtype: int32

In [21]:
df['Крайний этаж'] = ~(df['Крайний этаж'] - df['Этажность'])
df['Крайний этаж']

0      3
1      7
2     -1
3      0
5      1
6      1
7      0
9      1
10     3
11    15
12     7
14     7
15     9
16    -1
17     1
18    -1
19     7
21     2
22     2
23    -1
24    10
25     1
27     3
28    -1
31     0
Name: Крайний этаж, dtype: int32

In [349]:
df['Отношение'] = (df['Этаж'] /df['Этажность']).astype('float').round(3)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [350]:
df['Тип дома'] = df['Дом'].str.split(' ').str.get(1)

5. Анализируем дома в зависимости от типа:

In [351]:
df.groupby('Тип дома').size()

Тип дома
?     4
Б     8
К     4
П    11
dtype: int64

In [352]:
df.to_csv('flatest_.csv', sep=';',  encoding='cp1251')